/* IMPORTANT STYLES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #151618;
  --primary-color: #60240a;
  --bg-color-1: #cbab8a;
  --bg-color-2: #f8f4e1;
  --bg-color-3: #ffe0b5;
  --white-color: #fff;
}

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  width: 100%;
  height: 100%;
}

/* Header Styles*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  background-color: var(--bg-color-1);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.navbar a:hover {
  color: var(--text-color);
}

.navbar .logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.logo-icon {
  width: 100px;
  height: 80px;
}

.logo-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar .icons i {
  font-size: 24px;
  color: var(--primary-color);
  margin-left: 15px;
  cursor: pointer;
  transition: color 0.3s;
}

.navbar .icons i:hover {
  color: var(--text-color);
}

.links-left,
.links-right,
.logo,
.icons,
li {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

/* Hero Styles */

.hero-container {
  background: url(./assets/bg-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
}

.hero-content {
  color: var(--primary-color);
  max-width: 400px;
}

.hero-title h1 {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 30px;
}

.hero-description h2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.hero-description p {
  margin-top: 10px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold;
}

/* welcome section styles*/
.welcome-container{
  background: url(./assets/bg-img2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 100%;
}

.welcome-title{
  font-family: "Niconne", cursive;
  font-size: 30px;
  text-align: center;
  padding-top:3rem;
  padding-bottom: 3rem;
  color: var(--primary-color);
}

.welcome-description{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  text-align: center;
  line-height: 1.3;
}

.box > i,h3,p{
  padding: 1rem 10px;
}

.box i{
  color: var(--text-color);
}

.box4 img{
  width: 85px;
}

.box h3{
  font-size: 25px;
}

.box p{
  font-size: 18px;
  font-weight: 500;
}

.bx{
  font-size: 60px;
}
/* gallery section styles*/