/* IMPORTANT STYLES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: white;
  --secondary-color: #ecb176;
  --light-color: #fed8b1;
  --var-color: #481e14;
  --bg-color: #6f4e37;
}

html,
body {
  font-family:  "Niconne", cursive;
  width: 100%;
  height: 100%;
}

/* HEADER STYLES*/
.logo {
  width:100%;
  color: var(--var-color);
  text-decoration:none;
  font-size: 2rem;
}

.logo i{
    color: var(--var-color);
}

.header {
  background-image: url(assets/bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
}

.container-navbar .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.container-navbar {
    padding: 10px 20px;
    height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(111, 78, 55);
  background: radial-gradient(
    circle,
    rgba(111, 78, 55, 1) 0%,
    rgba(230, 115, 14, 1) 0%,
    rgba(236, 177, 118, 1) 100%
  );
}

.navbar-links {
  display: flex;
  justify-content: space-between;
}

.navbar-links a {
  padding: 10px;
  margin: 0px 10px;
  text-decoration: none;
  color: var(--var-color);
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-utilities i {
  font-size: 2rem;
  color: var(--var-color);
  padding-right: 40px;
  margin: 5px;
}
